@media (max-width: 1279px)
{
    /*---------------
        Main styles
    ---------------*/
    :root
    {
        --aside_width: 280px;
        --aside_mini_width: 234px;
    }



    .block_head
    {
        margin-bottom: 25px;
    }

    .block_head .desc
    {
        font-size: 15px;
        line-height: 17px;

        margin-top: 10px;
    }



    .breadcrumbs
    {
        padding: 0;
    }



    .text_block h1
    {
        font-size: 28px;
        line-height: 34px;
    }

    .text_block h3
    {
        font-size: 17px;
        line-height: 23px;
    }

    .text_block ol li + li
    {
        margin-top: 15px;
    }

    .text_block table td
    {
        min-width: 192px;
    }


    .text_block .gallery
    {
        margin-bottom: 0;
        margin-left: -25px;
    }

    .text_block .gallery > *
    {
        width: calc(50% - 25px);
        margin-bottom: 25px;
        margin-left: 25px;
    }

    .text_block .gallery > *.width1of3
    {
        width: calc(33.333% - 25px);
    }


    .text_block .cols .col
    {
        width: calc(50% - 12px);
    }


    .text_block .pluses
    {
        margin-bottom: 0;
        margin-left: -40px;
    }

    .text_block .pluses > *
    {
        width: calc(50% - 40px);
        margin-bottom: 25px;
        margin-left: 40px;
    }

    .text_block .pluses .item .desc
    {
        font-size: 14px;
        line-height: 20px;
    }



    /*---------------
        Header
    ---------------*/
    header .info
    {
        padding: 20px 0;
    }



    header .logo a,
    header .logo img
    {
        height: 55px;
    }



    header .search
    {
        width: 37px;
        max-width: none;
    }

    header .search .link
    {
        display: flex;
    }

    #search_modal
    {
        position: absolute;

        display: flex;
        visibility: hidden;

        width: 100%;
        padding: 20px;

        pointer-events: none;

        opacity: 0;
        border-top: 1px solid #ddd;
        background: #fff;

        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

    #search_modal.active
    {
        visibility: visible;

        pointer-events: auto;

        opacity: 1;
    }

    header .search form
    {
        width: 100%;
    }



    header .catalog
    {
        width: 159px;
    }

    header .catalog .link
    {
        font-size: 15px;

        min-height: 62px;
    }



    header .menu
    {
        width: calc(100% - 414px);
        padding: 0 10px;
    }

    header .menu .item > a
    {
        font-size: 15px;

        min-height: 62px;
    }



    header .compare_link a,
    header .favorite_link a
    {
        min-height: 62px;
    }


    header .visited .link
    {
        width: 75px;
        min-height: 62px;
    }

    #visited_modal
    {
        right: -75px;
        left: auto;
    }



    header .cart_link
    {
        width: 75px;
    }

    header .cart_link > span
    {
        display: none;
    }

    header .cart_link .count
    {
        margin: 0;
    }

    header .cart_link .icon
    {
        width: 43px;
        height: 36px;
        margin: 0;
    }



    /*---------------
        Sidebar
    ---------------*/
    aside .cats > * + *
    {
        margin-top: 10px;
    }



    /*---------------
        Main section
    ---------------*/
    .main_slider .slide
    {
        min-height: 420px;
        padding: 44px;
    }


    .main_slider .slide .bg
    {
        display: none;
    }

    .main_slider .slide .tablet_bg
    {
        display: block;

        background-position: 100% 50%;
    }


    .main_slider .slide .stickers
    {
        right: 30px;
    }


    .main_slider .slide .videos_row
    {
        width: calc(100% + 30px);
        margin-right: 0;
        margin-left: -30px;
    }

    .main_slider .slide .videos_row > *
    {
        width: 296px;
        max-width: calc(50% - 30px);
        margin-left: 30px;
    }

    .main_slider .slide .videos_row > *:first-child .name:before,
    .main_slider .slide .videos_row > *:last-child
    {
        display: none;
    }

    .main_slider .slide .videos_row .name
    {
        font-size: 15px;

        min-height: 56px;
        padding: 8px 12px;
    }



    .for_integrators .links
    {
        padding: 0;
    }

    .for_integrators .links * + *
    {
        margin-top: 15px;
    }

    .for_integrators .links a
    {
        font-size: 15px;
    }



    .products_block .slider
    {
        padding: 0 25px;
    }

    .products_block .owl-carousel .owl-nav button.owl-prev
    {
        left: -25px;
    }

    .products_block .owl-carousel .owl-nav button.owl-next
    {
        right: -25px;
    }

    .products.products_block .product .name
    {
        font-size: 15px;
    }

    .products.products_block .product .desc
    {
        font-size: 13px;
    }



    .products .tabs button
    {
        font-size: 18px;
    }

    .products .tabs .sep
    {
        font-size: 18px;

        margin: 0 30px;
    }


    .products .flex
    {
        margin-bottom: -40px;

        --products_count: 4;
    }

    .products .flex > *
    {
        width: calc(25% - 20px);
        margin-bottom: 40px;
    }


    .products_block .flex > *:last-child
    {
        display: block;
    }



    .products .table_wrap
    {
        padding-bottom: 10px;
    }

    .products .table_wrap::-webkit-scrollbar
    {
        width: 7px;
        height: 7px;

        border-radius: 0;
        background-color: #eee;

        -webkit-appearance: none;
    }

    .products .table_wrap::-webkit-scrollbar-thumb
    {
        border-radius: 0;
        background-color: var(--color_blue);
    }

    .products table
    {
        width: 900px;
    }



    .banners .flex
    {
        margin-left: -20px;
    }

    .banners .flex > *
    {
        width: calc(50% - 20px);
        margin-left: 20px;
    }



    .troubleshooting .articles
    {
        padding-right: 20px;
        padding-left: 20px;
    }

    .troubleshooting .articles .flex > *
    {
        width: calc(33.333% - 20px);
    }



    /* .about .flex > *
    {
        width: calc(50% - 10px);
    } */



    .articles_block .list
    {
        height: 303px;
    }



    .articles .tabs
    {
        margin-bottom: 25px;
    }


    .articles .flex
    {
        margin-left: -20px;
    }

    .articles .flex > *
    {
        width: calc(25% - 20px);
        margin-left: 20px;
    }



    .get_price_list .title
    {
        width: 100%;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .get_price_list .form
    {
        width: 100%;
    }

    .get_price_list .form .agree
    {
        position: relative;
        right: 0;
        bottom: 0;

        margin-top: 10px;

        order: 5;
    }



    .category_info .head .sort + .sort
    {
        margin-left: 60px;
    }


    .category_info .head .view > * + *
    {
        margin-left: 20px;
    }


    .category_info .products .flex
    {
        --products_count: 3;
    }

    .category_info .products .flex > *
    {
        width: calc(33.333% - 20px);
    }



    .cats_list .flex > *
    {
        width: calc(33.333% - 20px);
    }



    .product_page aside
    {
        display: none;
    }

    .product_page aside.mini + .content
    {
        width: 100%;
    }



    .product_info .product_name
    {
        font-size: 26px;
        line-height: 30px;

        padding: 20px;
    }


    .product_info .images .big .slide .Magic360-container
    {
        width: 100% !important;
        max-width: 100% !important;
    }

    button.m360-icon
    {
        top: 0;
        left: 0;
    }


    .product_info .info
    {
        padding-left: 20px;
    }


    .product_info .info .rating
    {
        margin-left: auto;
    }


    .product_info .info .brand
    {
        justify-content: flex-start;
    }


    .product_info .info .buy_info
    {
        padding: 20px;
    }


    .product_info .info .price_block
    {
        font-size: 16px;
    }

    .product_info .info .price_block .val
    {
        margin-left: 15px;
    }


    /* .product_info .info .buy_info .amount:before
    {
        width: 44px;
    }

    .product_info .info .buy_info .amount.show
    {
        width: 110px;
    }

    .product_info .info .buy_info .amount button
    {
        width: 40px;
        height: 44px;
    }

    .product_info .info .buy_info .amount .input
    {
        font-size: 18px;

        height: 44px;
        padding: 0 40px;
    } */



    .product_tabs .tabs button b
    {
        display: block;

        width: 100%;
        margin-left: 0;
    }



    .prod_description .text_block
    {
        font-size: 15px;
        line-height: 23px;
    }


    .prod_description .features table td
    {
        padding: 8px 15px;
    }

    .prod_description .features table td.val
    {
        min-width: 112px;
    }



    .prod_specification .product,
    .prod_equipment .item
    {
        padding: 20px 0;
    }


    .prod_settings .item
    {
        padding: 20px 82px 20px 25px;
    }

    .prod_settings .item .exp,
    .prod_settings .item .text_block
    {
        font-size: 15px;
        line-height: 23px;
    }

    .prod_settings .item .exp ul li:before
    {
        top: 9px;
    }



    .reviews .head
    {
        padding-bottom: 20px;
    }

    .reviews .review
    {
        padding: 20px 0;
    }

    .reviews .review .name,
    .reviews .review .company
    {
        font-size: 15px;
    }

    .reviews .review .text
    {
        font-size: 15px;
        line-height: 23px;
    }


    .prod_delivery .route
    {
        padding: 19px 24px;
    }

    .prod_delivery .route .title
    {
        font-size: 15px;
        line-height: 19px;
    }


    .prod_delivery .info
    {
        padding: 25px;
    }

    .prod_delivery .info .path
    {
        font-size: 15px;
        line-height: 19px;
    }

    .prod_delivery .info .path .to
    {
        margin-left: 80px;
    }

    .prod_delivery .info .path .to:before
    {
        left: -56px;
    }

    .prod_delivery .info .path .to:after
    {
        left: -30px;
    }

    .prod_delivery .info .price
    {
        font-size: 32px;
        line-height: 32px;
    }

    .prod_delivery .info .price sup
    {
        font-size: 16px;
    }

    .prod_delivery .info .icon
    {
        width: 118px;
        height: 67px;
    }



    .checkout_info .content
    {
        width: 100%;
    }

    .checkout_info aside
    {
        width: 345px;
        max-width: 100%;
        margin-left: auto;
    }


    .cart_info .empty
    {
        padding: 60px 0;
    }

    .cart_info .empty .title
    {
        font-size: 32px;
        line-height: 36px;
    }


    .checkout_total
    {
        padding-bottom: 30px;
    }



    .contacts_info .data .title
    {
        font-size: 26px;
        line-height: 30px;

        padding: 25px;
    }


    .contacts_info .data .info
    {
        padding: 25px;
    }



    .feedback
    {
        padding: 25px;
    }

    .feedback .form
    {
        width: calc(100% - 330px);
    }

    .feedback .col_left
    {
        width: 280px;
    }

    .feedback .col_right
    {
        width: calc(100% - 290px);
    }



    .managers
    {
        padding: 25px;
    }

    .managers .flex > *,
    .managers .flex > *.big
    {
        width: calc(50% - 40px);
    }



    .managers .chats > * > div
    {
        width: 100%;
        margin-bottom: 5px;
    }

    .managers .chats .icon
    {
        margin-left: 0;
    }



    .requisites
    {
        padding: 25px;
    }



    .articles_page .title
    {
        font-size: 26px;
        line-height: 30px;

        padding: 20px;
    }


    .articles .types a
    {
        font-size: 17px;

        height: 50px;
    }



    .article_info .article_title
    {
        font-size: 26px;
        line-height: 30px;
    }


    .article_info .head .share
    {
        width: calc(100% + 6px);
        margin-left: -6px;
    }


    .article_info .text_block
    {
        font-size: 15px;
        line-height: 23px;
    }

    .article_info .text_block ul li:before
    {
        top: 6px;
    }



    .comments .comment .text_block
    {
        font-size: 15px;
        line-height: 23px;
    }



    .add_comment .col_left
    {
        width: 280px;
    }

    .add_comment .col_right
    {
        width: calc(100% - 295px);
    }



    .catalog_info .cols > *
    {
        width: calc(33.333% - 30px);
    }



    .text_page .data
    {
        padding: 25px;
    }



    .search_info .data
    {
        padding: 25px;
    }


    .search_info .search
    {
        margin-bottom: 20px;
    }


    .search_info .search_title
    {
        font-size: 28px;
        line-height: 36px;

        margin-bottom: 20px;
    }


    .search_info .category_info
    {
        width: calc(100% + 50px);
        margin-right: -25px;
        margin-left: -25px;
    }

    .search_info .category_info .head
    {
        padding-right: 25px;
        padding-left: 25px;
    }

    .search_info .category_info .products
    {
        padding-top: 25px;
    }

    .search_info .category_info .products .flex
    {
        padding-right: 25px;
        padding-left: 25px;

        --products_count: 5;
    }

    .search_info .category_info .products .flex > *
    {
        width: calc(25% - 20px);
    }


    .search_info .search_bottom
    {
        margin: 40px -25px -25px;
        padding: 30px 25px;
    }

    .search_info .search_bottom .flex
    {
        margin-left: -60px;
    }

    .search_info .search_bottom .flex > *
    {
        max-width: calc(100% - 60px);
        margin-left: 60px;
    }



    .error_info .data
    {
        padding: 50px 40px;
    }

    .error_info .code
    {
        font-size: 92px;
    }

    .error_info .title,
    .error_info .or_call .phone
    {
        font-size: 26px;
        line-height: 32px;
    }


    .error_info .bottom .flex
    {
        margin-left: -60px;
    }

    .error_info .bottom .flex > *
    {
        max-width: calc(100% - 60px);
        margin-left: 60px;
    }



    .checkout_status .data
    {
        padding-bottom: 50px;
    }


    .checkout_status .head .title
    {
        font-size: 28px;
        line-height: 36px;
    }


    .checkout_status .bottom
    {
        margin-bottom: -50px;
    }

    .checkout_status .bottom .flex
    {
        margin-left: -60px;
    }

    .checkout_status .bottom .flex > *
    {
        max-width: calc(100% - 60px);
        margin-left: 60px;
    }



    .about_info .data
    {
        padding: 0 25px 25px;
    }


    .about_info .head
    {
        width: calc(100% + 50px);
        margin-right: -25px;
        margin-bottom: 25px;
        margin-left: -25px;
        padding: 20px 25px;
    }

    .about_info .head .title
    {
        font-size: 28px;
        line-height: 36px;
    }



    .view_history .data
    {
        padding: 0 25px 25px;
    }


    .view_history .head
    {
        width: calc(100% + 50px);
        margin-right: -25px;
        margin-bottom: 25px;
        margin-left: -25px;
        padding: 20px 25px;
    }

    .view_history .head .title
    {
        font-size: 28px;
        line-height: 36px;
    }


    .view_history .table_wrap
    {
        padding-bottom: 10px;
    }

    .view_history .table_wrap::-webkit-scrollbar
    {
        width: 7px;
        height: 7px;

        border-radius: 0;
        background-color: #eee;

        -webkit-appearance: none;
    }

    .view_history .table_wrap::-webkit-scrollbar-thumb
    {
        border-radius: 0;
        background-color: var(--color_blue);
    }

    .view_history table
    {
        width: 900px;
    }


    .view_history .bottom
    {
        margin: 25px -25px -25px;
        padding: 30px 25px;
    }

    .view_history .bottom .flex
    {
        margin-left: -60px;
    }

    .view_history .bottom .flex > *
    {
        max-width: calc(100% - 60px);
        margin-left: 60px;
    }



    .service_page .content .block
    {
        padding: 0 25px 25px;
    }

    .service_page .content .block .head
    {
        width: calc(100% + 50px);
        margin-right: -25px;
        margin-bottom: 25px;
        margin-left: -25px;
        padding: 20px 25px;
    }

    .service_page .content .block .head .title
    {
        font-size: 28px;
        line-height: 36px;
    }



    .service_sections .section
    {
        min-height: 160px;
        padding: 20px 211px 20px 25px;
    }

    .service_sections .section .title
    {
        font-size: 19px;
        line-height: 21px;

        padding: 5px 0 5px 19px;
    }

    .service_sections .section .col_left
    {
        width: 100%;
    }

    .service_sections .section .chats
    {
        width: 100%;
        margin-top: 20px;
    }

    .service_sections .section .chats > * + *
    {
        margin-top: 15px;
    }

    .service_sections .section .chats > * > div
    {
        width: 100%;
    }

    .service_sections .section .chats .icon
    {
        margin-left: 0;
    }

    .service_sections .section .desc
    {
        font-size: 15px;
        line-height: 23px;
    }

    .service_sections .section .details
    {
        width: 186px;
    }



    .service_training .programs .program
    {
        padding: 25px 25px 25px 80px;
    }

    .service_training .programs .program .check
    {
        left: 25px;
    }

    .service_training .programs .program .desc
    {
        font-size: 15px;
        line-height: 23px;
    }

    .service_training .programs .program .flex
    {
        margin-left: -25px;
    }

    .service_training .programs .program .flex > *
    {
        width: calc(33.333% - 25px);
        margin-left: 25px;
    }



    .service_repair table
    {
        width: 1024px;
    }



    .repair_service_type .form,
    .repair_delivery .form
    {
        column-gap: 30px;
    }

    .repair_service_type .form input[type=radio] + label
    .repair_delivery .form input[type=radio] + label
    {
        font-size: 14px;
        line-height: 18px;
    }


    .repair_bottom
    {
        padding-top: 25px !important;
    }



    .contacts_block .col_left
    {
        width: 220px;
    }

    .contacts_block .phone,
    .contacts_block .email
    {
        font-size: 15px;
        line-height: 25px;
    }


    .contacts_block .chats
    {
        width: calc(100% - 270px);
    }

    .contacts_block .chats > *
    {
        font-size: 15px;
        line-height: 25px;
    }

    .contacts_block .chats > * > div
    {
        width: 100%;
    }

    .contacts_block .chats .icon
    {
        margin-left: 0;
    }



    .online_stand .block_title
    {
        font-size: 32px;
        line-height: 36px;

        margin-bottom: 25px;
    }

    .online_stand .block_desc
    {
        font-size: 17px;
        line-height: 23px;

        margin-bottom: 30px;
    }


    .online_stand .steps
    {
        font-size: 15px;
        line-height: 23px;

        margin-left: -60px;
    }

    .online_stand .steps > *
    {
        max-width: calc(100% - 60px);
        margin-bottom: 60px;
        margin-left: 60px;
    }

    .online_stand .steps .step .icon
    {
        width: 72px;
        height: 72px;
    }

    .online_stand .steps .step .icon + *
    {
        max-width: calc(100% - 92px);
    }



    .online_stand .data .checks
    {
        width: calc(100% - 440px);
    }

    .online_stand .data .checks .field + .field
    {
        margin-top: 20px;
    }



    .online_stand .data .form
    {
        width: 400px;
        padding: 40px 40px 30px;
    }

    .online_stand .data .form .head .title
    {
        font-size: 22px;
    }

    .online_stand .data .form .head .desc
    {
        font-size: 14px;
        line-height: 20px;
    }

    .online_stand .data .form .agree .field
    {
        padding: 20px 30px 0;
    }

    .online_stand .data .form .submit_btn
    {
        font-size: 18px;

        width: 260px;
        height: 50px;
    }



    .cases .title
    {
        font-size: 26px;
        line-height: 30px;

        padding: 20px;
    }


    .cases .info
    {
        padding: 20px 20px 25px;
    }

    .cases .info .desc
    {
        font-size: 15px;
        line-height: 21px;
    }

    .cases .info .desc img
    {
        margin-top: 20px;
    }



    .cases .case .thumb + *
    {
        width: calc(100% - 212px);
    }

    .cases .case .desc,
    .cases .case .feature
    {
        font-size: 15px;
        line-height: 21px;
    }



    .cases_info .data
    {
        padding: 20px;
    }


    .cases_info .thumb
    {
        width: 450px;
    }


    .cases_info .info
    {
        width: calc(100% - 480px);
    }


    .cases_info .info .name
    {
        font-size: 24px;
        line-height: 30px;

        margin-bottom: 25px;
    }


    .cases_info .info .desc,
    .cases_info .info .feature
    {
        font-size: 15px;
        line-height: 20px;

        margin-top: 20px;
    }


    .cases_info .info .cats,
    .cases_info .info .bottom
    {
        margin-top: 20px;
    }


    .cases_info .info .calc_btn
    {
        font-size: 16px;
        line-height: 22px;

        padding: 12px 40px;
    }


    .cases_info .info .discount,
    .cases_info .info .rating
    {
        width: calc(50% - 10px);
        margin-top: 12px;
    }



    .case_equipment .slider
    {
        padding: 0 56px;
    }



    .case_tabs .tabs button
    {
        height: 56px;
        padding: 12px 20px;
    }


    .case_tabs .tab_content.active
    {
        padding: 20px;
    }



    .case_tabs .specification .table_title
    {
        font-size: 16px;
        line-height: 22px;

        padding: 12px;
    }


    .case_tabs .specification table td
    {
        font-size: 15px;
    }

    .case_tabs .specification table td.articul
    {
        min-width: 192px;
    }

    .case_tabs .specification table td.amount
    {
        min-width: 172px;
    }



    .compare_info .data
    {
        padding: 24px 20px;
    }

    .compare_info .block_title
    {
        font-size: 26px;
    }


    .compare_info .grid
    {
        margin-right: -20px;
        margin-bottom: -24px;
        margin-left: -20px;
    }


    .compare_info .filter
    {
        padding-top: 24px;
        padding-left: 20px;
    }

    .compare_info .filter input[type=radio] + label
    {
        font-size: 15px;
    }


    .compare_info .compare_features
    {
        padding-left: 20px;
    }

    .compare_info .compare_features .title:before
    {
        left: -20px;
    }



    .load_more,
    .all
    {
        margin-top: 25px;
    }



    /*---------------
        Footer
    ---------------*/
    footer .info
    {
        padding: 35px 0;
    }


    footer .bottom
    {
        padding: 15px 0 100px;
    }

    footer .bottom.no_pad
    {
        padding-bottom: 15px;
    }


    footer .menu > * + *
    {
        margin-left: 40px;
    }



    /*---------------
        PopUp
    ---------------*/
    .modal_title
    {
        font-size: 22px;
    }



    #cart_widget .bottom
    {
        padding: 20px;
    }

    #cart_widget .bottom .links > * + *,
    #cart_widget .bottom .checkout_link
    {
        margin-left: 30px;
    }
}
