@media (max-width: 1409px)
{
    /*---------------
        Main styles
    ---------------*/
    .text_block table td
    {
        min-width: 220px;
    }



    /*---------------
        Header
    ---------------*/
    header .info .cont.flex > * + *
    {
        margin-left: 25px;
    }


    header .search
    {
        max-width: calc(100% - 940px);
    }


    header .bottom .cont.flex
    {
        padding: 0;
    }



    header .catalog
    {
        width: 189px;
    }

    header .catalog .link
    {
        padding: 15px 20px;
    }


    #catalog_modal
    {
        width: 100vw;
    }


    header .menu
    {
        width: calc(100% - 564px);
    }



    /*---------------
        Sidebar
    ---------------*/
    aside .compare_informer
    {
        padding: 19px 19px 19px 12px;
    }



    /*---------------
        Main section
    ---------------*/
    .main_slider .slide .videos_row
    {
        width: calc(100% + 112px);
        margin-right: -46px;
        margin-left: -66px;
    }

    .main_slider .slide .videos_row > *
    {
        width: calc(33.333% - 20px);
        margin-left: 20px;
    }


    .main_slider .slide .slide_title
    {
        font-size: 32px;
    }

    .main_slider .slide .videos_row .name
    {
        font-size: 14px;

        min-height: 64px;
        padding: 8px 12px;
    }



    .products .flex
    {
        --products_count: 5;
    }

    .products_block .flex > *
    {
        width: calc(20% - 20px);
    }

    .products_block .flex > *:nth-child(6n)
    {
        display: none;
    }



    .category_info .products .flex
    {
        --products_count: 4;
    }

    .category_info .products .flex > *
    {
        width: calc(25% - 20px);
    }



    .cats_list .flex > *
    {
        width: calc(25% - 20px);
    }



    .product_info .product_name
    {
        font-size: 28px;
        line-height: 38px;

        padding: 20px;
    }

    .product_info .info .rating
    {
        margin-left: 35px;
    }


    .product_info .info .buy_info .col_left
    {
        width: calc(100% - 204px);
    }

    .product_info .info .buy_info .col_right
    {
        width: 172px;
    }


    .product_info .info .price_block .price
    {
        font-size: 46px;
        line-height: 46px;
    }

    .product_info .info .price_block .price sup
    {
        font-size: 16px;
        line-height: 14px;

        margin-left: -6px;
    }


    .product_info .info .reduce_price_btn
    {
        height: 46px;
    }


    .product_info .info .buy_info .buy_links > * + *,
    .product_info .info .buy_info .amount.show
    {
        margin-left: 16px;
    }

    .product_info .info .buy_info .amount
    {
        margin-left: 0;
    }


    .product_info .info .manager
    {
        width: 328px;
    }



    .product_tabs .tabs button
    {
        padding: 10px 16px;
    }

    .product_tabs .tab_content.active
    {
        padding: 20px;
    }



    .prod_files
    {
        margin-bottom: -30px;
        margin-left: -30px;
    }

    .prod_files .item
    {
        width: calc(50% - 30px);
        margin-bottom: 30px;
        margin-left: 30px;
    }


    .prod_specification .product
    {
        padding: 25px 0;
    }


    .prod_equipment .item
    {
        padding: 25px 0;
    }



    .prod_delivery .route
    {
        padding: 24px 34px;
    }

    .prod_delivery .info
    {
        padding: 25px;
    }



    .reviews .head
    {
        padding-bottom: 30px;
    }

    .reviews .review
    {
        padding: 25px 0;
    }



    .checkout_info
    {
        --aside_width: 320px;
    }



    .articles_page .title
    {
        font-size: 28px;
        line-height: 38px;

        padding: 20px;
    }


    .articles .types a
    {
        height: 55px;
    }



    .article_info .article_title
    {
        font-size: 28px;
        line-height: 38px;
    }



    .page_about_v2 .about_info_v2
    {
        margin-bottom: 60px;
        padding-top: 32px;
    }

    .page_about_v2 .about_info_v2:before
    {
        top: -39px;

        height: 560px;
    }


    .page_about_v2 .about_info_v2 .years
    {
        font-size: 17px;

        min-height: 64px;
        margin-left: 20px;
        padding-left: 32px;
    }

    .page_about_v2 .about_info_v2 .years:before
    {
        width: 64px;
        height: 64px;
    }


    .page_about_v2 .about_info_v2 .title
    {
        font-size: 40px;

        margin-top: 12px;
        margin-left: 52px;
    }


    .page_about_v2 .about_info_v2 .description
    {
        font-size: 17px;

        margin-top: 12px;
        margin-left: 52px;
    }


    .page_about_v2 .about_info_v2 .slider_wrap
    {
        margin-top: 40px;
    }


    .page_about_v2 .about_info_v2 .slider_wrap figcaption
    {
        font-size: 15px;
        line-height: 21px;
    }


    .page_about_v2 .about_info_v2 .slider_wrap .thumbs
    {
        width: 428px;
        margin-left: 4px;
    }

    .page_about_v2 .about_info_v2 .slider_wrap .thumbs .image
    {
        width: 194px;
        height: 116px;
    }


    .page_about_v2 .about_info_v2 .col_right
    {
        margin-left: 52px;
    }


    .page_about_v2 .about_info_v2 .stats .item
    {
        font-size: 16px;
    }

    .page_about_v2 .about_info_v2 .stats .item + .item
    {
        margin-top: 8px;
    }

    .page_about_v2 .about_info_v2 .stats .val
    {
        font-size: 44px;

        width: 144px;
    }



    .page_about_v2 .employees
    {
        margin-bottom: 60px;
    }


    .page_about_v2 .employees .col_left
    {
        width: 592px;
    }


    .page_about_v2 .employees .block_title
    {
        font-size: 17px;

        min-height: 64px;
        margin-left: 20px;
        padding-left: 32px;
    }

    .page_about_v2 .employees .block_title:before
    {
        width: 64px;
        height: 64px;
    }


    .page_about_v2 .employees .description
    {
        font-size: 16px;

        margin-top: 20px;
        margin-left: 52px;
    }

    .page_about_v2 .employees .col_left .title
    {
        font-size: 27px;

        margin-top: 28px;
        margin-left: 52px;
    }

    .page_about_v2 .employees .time
    {
        font-size: 16px;

        margin-top: 36px;
        margin-left: 52px;
    }


    .page_about_v2 .employees .col_right
    {
        padding-top: 22px;
    }

    .page_about_v2 .employees .col_right .title
    {
        font-size: 17px;

        margin-bottom: 24px;
    }


    .page_about_v2 .employees .items .number
    {
        width: 72px;
        height: 72px;
    }

    .page_about_v2 .employees .items .name
    {
        font-size: 16px;

        width: calc(100% - 96px);
    }



    .page_about_v2 .tech_support
    {
        padding: 36px 0 60px;
    }


    .page_about_v2 .tech_support .col_left
    {
        padding-top: 24px;
    }

    .page_about_v2 .tech_support .col_right
    {
        margin-right: 52px;
    }


    .page_about_v2 .tech_support .col_left .block_title
    {
        font-size: 17px;

        min-height: 64px;
        margin-left: 20px;
        padding-left: 32px;
    }

    .page_about_v2 .tech_support .col_left .block_title:before
    {
        width: 64px;
        height: 64px;
    }


    .page_about_v2 .tech_support .col_left .description
    {
        font-size: 16px;

        margin-top: 20px;
        margin-left: 52px;
    }


    .page_about_v2 .tech_support .col_left .title
    {
        font-size: 27px;

        margin-top: 28px;
        margin-left: 52px;
    }

    .page_about_v2 .tech_support .col_left > .title span
    {
        display: inline-block;

        vertical-align: top;
    }


    .page_about_v2 .tech_support .col_left > .contacts
    {
        margin-top: 16px;
        margin-left: 52px;
    }

    .page_about_v2 .tech_support .col_left > .contacts .sep
    {
        height: 32px;
        margin: 0 24px;
    }


    .page_about_v2 .tech_support .services
    {
        margin-left: 52px;
    }


    .page_about_v2 .tech_support .services .title
    {
        font-size: 17px;

        margin-top: 0;
        margin-bottom: 16px;
        margin-left: 0;
    }


    .page_about_v2 .tech_support .services .items
    {
        font-size: 16px;
    }

    .page_about_v2 .tech_support .services .items > *
    {
        padding-left: 52px;
    }

    .page_about_v2 .tech_support .services .items > *:before
    {
        top: 9px;

        width: 32px;
    }

    .page_about_v2 .tech_support .services .items > * + *
    {
        margin-top: 16px;
    }


    .page_about_v2 .tech_support .boss .post
    {
        font-size: 16px;

        width: 280px;
    }


    .page_about_v2 .tech_support .message
    {
        font-size: 16px;

        width: 292px;
        margin-top: 64px;
    }

    .page_about_v2 .tech_support .message .icon
    {
        top: -12px;
        left: -36px;

        width: 10px;
        height: 108px;
    }

    .page_about_v2 .tech_support .message .icon:after
    {
        bottom: -20px;

        width: 10px;
        height: 10px;
    }


    .page_about_v2 .tech_support .webinars
    {
        width: 100%;
        max-width: calc(100% - 52px);
        margin-top: 52px;
        margin-left: 52px;
    }

    .page_about_v2 .tech_support .webinars .title
    {
        font-size: 17px;

        margin-bottom: 24px;
    }

    .page_about_v2 .tech_support .webinars .flex
    {
        padding-right: 104px;
    }

    .page_about_v2 .tech_support .webinars .all_link
    {
        right: 0;
        left: auto;

        margin: auto 0;
    }


    .page_about_v2 .tech_support .exp
    {
        font-size: 16px;

        width: 100%;
        max-width: calc(100% - 52px);
        margin-top: 32px;
        margin-left: 52px;
    }



    .page_about_v2 .warehouses .head
    {
        margin-bottom: 48px;
    }


    .page_about_v2 .warehouses .head .col_left
    {
        max-width: calc(50% - 10px);
        margin-left: 0;
        padding-top: 0;
    }

    .page_about_v2 .warehouses .head .col_right
    {
        width: calc(50% - 10px);
        margin-right: 0;
    }


    .page_about_v2 .warehouses .head .block_title
    {
        font-size: 17px;

        min-height: 64px;
        margin-bottom: 0;
        margin-left: 20px;
        padding-left: 32px;
    }

    .page_about_v2 .warehouses .head .block_title:before
    {
        width: 64px;
        height: 64px;
    }


    .page_about_v2 .warehouses .head .description
    {
        font-size: 16px;

        margin-top: 20px;
        margin-left: 52px;
    }


    .page_about_v2 .warehouses .head .title
    {
        font-size: 27px;

        margin-left: 52px;
    }


    .page_about_v2 .warehouses .head .count .val
    {
        font-size: 140px;

        margin-bottom: -8px;
        margin-left: -16px;
    }

    .page_about_v2 .warehouses .head .count .name
    {
        font-size: 28px;
    }


    .page_about_v2 .warehouses .photos
    {
        padding-bottom: 48px;
    }



    .page_about_v2 .clients .block_title
    {
        font-size: 17px;

        min-height: 64px;
        margin-left: 20px;
        padding-left: 32px;
    }

    .page_about_v2 .clients .block_title:before
    {
        width: 64px;
        height: 64px;
    }


    .page_about_v2 .clients .count
    {
        font-size: 140px;

        top: -24px;
        right: 52px;
    }


    .page_about_v2 .clients .categories
    {
        width: 1000px;
        max-width: calc(100% - 52px);
        margin-left: 52px;
    }


    .page_about_v2 .clients .categories .title
    {
        font-size: 17px;
    }


    .page_about_v2 .clients .categories .items
    {
        font-size: 16px;

        column-gap: 24px;
    }

    .page_about_v2 .clients .categories .items > *
    {
        padding-left: 52px;
    }

    .page_about_v2 .clients .categories .items > *:before
    {
        width: 32px;
    }


    .page_about_v2 .clients .slider
    {
        margin-top: 52px;
    }



    .page_about_v2 .advantages .data
    {
        padding: 52px 80px;
    }


    .page_about_v2 .advantages .data .title
    {
        font-size: 28px;

        margin-bottom: 32px;
    }


    .page_about_v2 .advantages .item .icon
    {
        width: 68px;
        height: 68px;
    }

    .page_about_v2 .advantages .item .icon + *
    {
        width: calc(100% - 88px);
        padding-top: 16px;
    }

    .page_about_v2 .advantages .item .name
    {
        font-size: 17px;
    }

    .page_about_v2 .advantages .item .desc
    {
        font-size: 16px;
    }



    .page_about_v2 .reviews_v2
    {
        margin-bottom: 60px;
    }


    .page_about_v2 .reviews_v2 .block_title
    {
        font-size: 17px;

        min-height: 64px;
        margin-bottom: 32px;
        margin-left: 20px;
        padding-left: 32px;
    }

    .page_about_v2 .reviews_v2 .block_title:before
    {
        width: 64px;
        height: 64px;
    }


    .page_about_v2 .reviews_v2 .cols
    {
        padding-right: 52px;
        padding-left: 52px;
    }


    .page_about_v2 .reviews_v2 .col_left
    {
        width: calc(100% - 340px);
    }


    .page_about_v2 .reviews_v2 .head
    {
        margin-bottom: 32px;
    }


    .page_about_v2 .reviews_v2 .company
    {
        font-size: 18px;

        margin-bottom: 8px;
    }


    .page_about_v2 .reviews_v2 .swiper-container
    {
        height: 764px;
        padding-bottom: 50px;
    }


    .page_about_v2 .reviews_v2 .review .text
    {
        margin-top: 8px;
    }

    .page_about_v2 .reviews_v2 .review .bottom
    {
        margin-top: 12px;
    }


    .page_about_v2 .reviews_v2 .rating .title
    {
        margin-bottom: 12px;
    }


    .page_about_v2 .reviews_v2 .requisites
    {
        margin-top: 40px;
        padding-top: 39px;
    }



    .page_about_v2 .get_price_list
    {
        padding: 60px 0;
    }


    .page_about_v2 .get_price_list .bg
    {
        margin-right: -612px;
    }


    .page_about_v2 .get_price_list .block_title
    {
        font-size: 17px;

        min-height: 64px;
        margin-left: 20px;
        padding-left: 32px;
    }

    .page_about_v2 .get_price_list .block_title:before
    {
        width: 64px;
        height: 64px;
    }


    .page_about_v2 .get_price_list form
    {
        width: 520px;
        margin-left: 40px;
        padding-top: 6px;
    }

    .page_about_v2 .get_price_list form .field
    {
        width: calc(100% - 208px);
    }

    .page_about_v2 .get_price_list form .input
    {
        font-size: 16px;

        height: 52px;
    }

    .page_about_v2 .get_price_list form .submit_btn
    {
        font-size: 16px;

        width: 192px;
        height: 52px;
    }

    .page_about_v2 .get_price_list form .agree
    {
        margin-top: 12px;
    }



    .page_about_v2 .projects
    {
        padding: 60px 0;
    }


    .page_about_v2 .projects .block_title
    {
        font-size: 17px;

        min-height: 64px;
        margin-left: 20px;
        padding-left: 32px;
    }

    .page_about_v2 .projects .block_title:before
    {
        width: 64px;
        height: 64px;
    }


    .page_about_v2 .projects .description
    {
        font-size: 16px;

        width: 476px;
        margin-top: 20px;
        margin-left: 52px;
    }


    .page_about_v2 .projects .swiper-container
    {
        margin-top: 40px;
    }

    .page_about_v2 .projects .swiper-button-next,
    .page_about_v2 .projects .swiper-button-prev
    {
        top: -68px;
    }


    .page_about_v2 .projects .project .thumb
    {
        margin-bottom: 20px;
    }

    .page_about_v2 .projects .project .name
    {
        font-size: 16px;
    }

    .page_about_v2 .projects .project .desc
    {
        font-size: 15px;
    }

    .page_about_v2 .projects .project .cats
    {
        font-size: 15px;

        margin-top: 20px;
    }



    .page_about_v2 .conferences
    {
        margin-bottom: 60px;
    }


    .page_about_v2 .conferences .block_title
    {
        font-size: 17px;

        min-height: 64px;
        margin-left: 20px;
        padding-left: 32px;
    }

    .page_about_v2 .conferences .block_title:before
    {
        width: 64px;
        height: 64px;
    }


    .page_about_v2 .conferences .description,
    .page_about_v2 .conferences .description2
    {
        font-size: 16px;

        width: 520px;
        margin-top: 20px;
        margin-left: 52px;
    }

    .page_about_v2 .conferences .description2
    {
        margin-top: 28px;
    }


    .page_about_v2 .conferences .items
    {
        font-size: 16px;

        width: 520px;
        margin-top: 20px;
        margin-left: 52px;
    }

    .page_about_v2 .conferences .items > *
    {
        padding-left: 52px;
    }

    .page_about_v2 .conferences .items > * + *
    {
        margin-top: 8px;
    }

    .page_about_v2 .conferences .items > *:before
    {
        top: 11px;

        width: 32px;
    }


    .page_about_v2 .conferences .diplom
    {
        top: 52px;
        right: 160px;
    }

    .page_about_v2 .conferences .diplom img
    {
        width: 320px;
    }

    .page_about_v2 .conferences .diplom .name
    {
        font-size: 15px;

        top: -40px;
        right: -40px;

        width: 100px;
        height: 100px;
    }


    .page_about_v2 .conferences .swiper-container
    {
        margin-top: 80px;
    }


    .page_about_v2 .conferences .gallery .item img
    {
        height: 218px;
    }



    .page_about_v2 .diploms .block_title
    {
        font-size: 17px;

        min-height: 64px;
        margin-left: 20px;
        padding-left: 32px;
    }

    .page_about_v2 .diploms .block_title:before
    {
        width: 64px;
        height: 64px;
    }


    .page_about_v2 .diploms .description
    {
        font-size: 16px;

        width: 496px;
        margin-top: 20px;
        margin-left: 52px;
    }


    .page_about_v2 .diploms .swiper-container
    {
        width: calc(100% - 52px);
        margin-top: 40px;
        margin-right: 0;
        margin-left: 52px;
    }

    .page_about_v2 .diploms .swiper-button-prev
    {
        left: -48px;
    }

    .page_about_v2 .diploms .swiper-button-next
    {
        right: 0;
    }


    .page_about_v2 .diploms .item
    {
        height: 313px;
    }

    .page_about_v2 .diploms .item img
    {
        max-width: 324px;
        max-height: 300px;
    }

    .page_about_v2 .diploms .item .year
    {
        font-size: 16px;

        width: 72px;
        height: 72px;
    }


    .page_about_v2 .diploms .line
    {
        margin-top: 52px;
    }



    .page_about_v2 .licenses
    {
        margin-bottom: 60px;
    }


    .page_about_v2 .licenses .block_title
    {
        font-size: 17px;

        min-height: 64px;
        margin-left: 20px;
        padding-left: 32px;
    }

    .page_about_v2 .licenses .block_title:before
    {
        width: 64px;
        height: 64px;
    }


    .page_about_v2 .licenses .swiper-container
    {
        width: calc(100% - 52px);
        margin-top: 40px;
        margin-right: 0;
        margin-left: 52px;
    }

    .page_about_v2 .licenses .swiper-button-prev
    {
        left: -48px;
    }

    .page_about_v2 .licenses .swiper-button-next
    {
        right: 0;
    }


    .page_about_v2 .licenses .item
    {
        height: 300px;
    }

    .page_about_v2 .licenses .item img
    {
        max-width: 324px;
        max-height: 300px;
    }



    .page_about_v2 .get_discount
    {
        padding: 60px 0;
    }


    .page_about_v2 .get_discount .block_title
    {
        font-size: 17px;

        min-height: 64px;
        margin-left: 20px;
        padding-left: 32px;
    }

    .page_about_v2 .get_discount .block_title:before
    {
        width: 64px;
        height: 64px;
    }


    .page_about_v2 .get_discount .description
    {
        font-size: 16px;

        width: 424px;
        margin-top: 20px;
        margin-left: 52px;
    }


    .page_about_v2 .get_discount form
    {
        margin-left: 52px;
        padding-top: 12px;
    }

    .page_about_v2 .get_discount form .line
    {
        margin-bottom: 8px;
    }

    .page_about_v2 .get_discount form .input
    {
        font-size: 16px;

        height: 52px;
    }

    .page_about_v2 .get_discount form .submit_btn
    {
        font-size: 16px;

        height: 52px;
    }

    .page_about_v2 .get_discount form .agree
    {
        bottom: 16px;

        width: 424px;
        margin-right: 52px;
    }


    .page_about_v2 .get_discount .bg
    {
        margin-right: -748px;
    }



    /*-----------------
       Configurator
    -----------------*/
    .configurator_ready_network
    {
        width: 480px;
    }


    .configurator_ec .col_right
    {
        width: 664px;
    }



    /*---------------
       Photo hunting
    ---------------*/
    .photo_hunting .competition .data
    {
        width: 416px;
    }


    .photo_hunting .competition .pre_title
    {
        font-size: 22px;
        line-height: 140%;

        margin-bottom: 8px;
    }


    .photo_hunting .competition .title
    {
        font-size: 64px;
    }


    .photo_hunting .competition .items
    {
        font-size: 17px;

        margin-top: 48px;
        padding-left: 40px;
    }

    .photo_hunting .competition .items > * + *
    {
        margin-top: 28px;
    }


    .photo_hunting .competition .btn
    {
        font-size: 18px;
        line-height: 140%;

        width: 264px;
        height: 60px;
        margin-top: 40px;
    }


    .photo_hunting .competition .exp
    {
        right: -176px;
        bottom: 0;
    }



    .photo_hunting .main_bg > .bg_top
    {
        top: -100px;
    }



    .photo_hunting .prizes
    {
        margin-bottom: 88px;
    }


    .photo_hunting .prizes .block_title
    {
        font-size: 56px;

        margin-bottom: 48px;
    }



    .photo_hunting .models
    {
        margin-bottom: 88px;
    }


    .photo_hunting .models .title
    {
        font-size: 56px;
    }



    .photo_hunting .requirements
    {
        margin-bottom: 68px;
    }

    .photo_hunting .requirements .block_title
    {
        font-size: 56px;

        margin-bottom: 48px;
    }



    .photo_hunting .how_take
    {
        margin-bottom: 60px;
    }


    .photo_hunting .how_take .block_title
    {
        font-size: 56px;
    }



    .photo_hunting .add_photo
    {
        margin-bottom: 88px;
    }


    .photo_hunting .add_photo .block_title
    {
        font-size: 56px;

        margin-bottom: 40px;
    }


    .photo_hunting .add_photo form .agree
    {
        margin-top: 28px;
    }



    .photo_hunting .pre_footer
    {
        padding: 34px 0;
    }



    /*---------------
       Vacancy
    ---------------*/
    .vacancy .vacancies_head
    {
        padding-bottom: 100px;
    }


    .vacancy .vacancies_head .data
    {
        width: 580px;
        margin-left: 28px;
    }


    .vacancy .vacancies_head .title
    {
        font-size: 40px;
        line-height: 120%;
    }


    .vacancy .vacancies_head .desc
    {
        font-size: 18px;

        width: 424px;
        margin-top: 24px;
    }


    .vacancy .vacancies_head .link a
    {
        font-size: 20px;

        width: 300px;
        height: 60px;
    }


    .vacancy .vacancies_head .img2
    {
        top: -48px;

        margin-right: -728px;
    }



    .vacancy .vacancies .block_title
    {
        font-size: 40px;
        line-height: 120%;

        margin-bottom: 40px;
        padding: 0 80px;
    }


    .vacancy .vacancies .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .vacancy .vacancies .row > *
    {
        width: calc(50% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .vacancy .vacancies .item
    {
        padding: 0 32px 32px;
    }


    .vacancy .vacancies .item .name
    {
        font-size: 20px;

        padding: 16px 0;
    }

    .vacancy .vacancies .item .name:before
    {
        left: -32px;
    }


    .vacancy .vacancies .item .requirements
    {
        font-size: 17px;
    }


    .vacancy .vacancies .item .link a
    {
        font-size: 17px;

        padding: 7px 31px;
    }


    .vacancy .vacancies .load_more
    {
        margin-top: 40px;
    }

    .vacancy .vacancies .load_more .btn
    {
        font-size: 15px;

        width: 100px;
        height: 100px;
        padding: 15px;
    }



    .vacancy .causes
    {
        margin-bottom: 100px;
    }


    .vacancy .causes .block_title
    {
        font-size: 40px;
        line-height: 120%;

        width: 328px;
    }


    .vacancy .causes .data
    {
        height: 500px;
    }


    .vacancy .causes .item
    {
        width: 340px;
        padding: 24px 32px 40px;
    }

    .vacancy .causes .item1
    {
        top: 0;

        width: 368px;
    }

    .vacancy .causes .item2
    {
        top: 248px;
        left: 212px;
    }

    .vacancy .causes .item3
    {
        top: 140px;
        left: 540px;
    }

    .vacancy .causes .item4
    {
        right: 48px;
    }


    .vacancy .causes .item .icon
    {
        max-width: 80px;
        max-height: 80px;
    }


    .vacancy .causes .item .name
    {
        font-size: 20px;
    }

    .vacancy .causes .item .number
    {
        font-size: 80px;

        top: 7px;
    }

    .vacancy .causes .item .desc
    {
        font-size: 17px;
    }



    .vacancy .conditions .block_title
    {
        font-size: 40px;
        line-height: 120%;

        margin-bottom: 40px;
        padding: 0 80px;
    }


    .vacancy .conditions .items
    {
        font-size: 17px;

        margin-left: -48px;
    }

    .vacancy .conditions .items > *
    {
        width: calc(50% - 48px);
        margin-left: 48px;
    }


    .vacancy .conditions .video
    {
        width: 780px;
        height: 440px;
        margin-top: 60px;
    }



    .vacancy .conditions .not_found
    {
        margin-top: 64px;
        padding-bottom: 79px;
    }


    .vacancy .conditions .not_found .title
    {
        font-size: 32px;

        margin-bottom: 28px;
    }


    .vacancy .conditions .not_found .btn
    {
        font-size: 20px;

        width: 340px;
    }



    .vacancy .vacancy_info .vacancy_name
    {
        font-size: 40px;
    }


    .vacancy .vacancy_info .salary
    {
        font-size: 28px;

        margin-top: 28px;
        padding: 4px 16px;
    }


    .vacancy .vacancy_info .features
    {
        font-size: 18px;
        line-height: 130%;

        margin-top: 28px;
    }


    .vacancy .vacancy_info .info
    {
        font-size: 18px;
    }


    .vacancy .vacancy_info .info ul li
    {
        padding-left: 32px;
    }

    .vacancy .vacancy_info .info ul li:before
    {
        top: 9px;
        left: 12px;
    }


    .vacancy .vacancy_info .btn
    {
        font-size: 20px;

        width: 300px;
        height: 60px;
        margin-top: 48px;
    }


    .vacancy .vacancy_info .line
    {
        margin-top: 79px;
    }



    .vacancy .stats .val
    {
        font-size: 21px;
    }


    .vacancy .stats .val b
    {
        font-size: 80px;

        top: 6px;
    }

    .vacancy .stats .val b:before
    {
        width: 48px;
        height: 48px;
    }

    .vacancy .stats .item:nth-child(1) .val b:before
    {
        top: 2px;
        left: 6px;
    }

    .vacancy .stats .item:nth-child(2) .val b:before
    {
        top: 16px;
        left: 44px;
    }

    .vacancy .stats .item:nth-child(3) .val b:before
    {
        bottom: 4px;
        left: -8px;
    }

    .vacancy .stats .item:nth-child(4) .val b:before
    {
        top: 16px;
        left: 0;
    }


    .vacancy .stats .desc
    {
        font-size: 17px;

        margin-top: 12px;
    }



    .vacancy .vacancy_info .vacancies_list
    {
        margin-top: 104px;
    }



    .vacancy .vacancies_list > * + *
    {
        margin-top: 12px;
    }


    .vacancy .vacancies_list .item .name
    {
        font-size: 18px;

        min-height: 100px;
        padding: 24px 28px;
    }



    /*---------------
       Courses
    ---------------*/
    .courses
    {
        margin-bottom: 80px;
        padding-top: 32px;
    }


    .courses .col_main
    {
        width: calc(100% - 624px);
    }

    .courses .col_main.big
    {
        width: calc(100% - 312px);
    }


    .courses .col_left,
    .courses .col_right
    {
        width: 280px;
    }


    .courses .links
    {
        font-size: 16px;

        padding: 24px;
    }


    .courses .links a:before
    {
        left: -24px;

        width: 6px;
    }


    .courses .has_question_btn,
    .courses .order_btn
    {
        font-size: 17px;

        height: 64px;

        border-radius: 0 0 28px 28px;
    }



    .courses .couse_name,
    .courses .courses_title,
    .courses .block_title
    {
        font-size: 40px;

        margin-bottom: 36px;
        padding-top: 12px;
    }

    .courses .courses_title,
    .courses .block_title
    {
        margin-left: 16px;
    }

    .courses .couse_name:before,
    .courses .courses_title:before,
    .courses .block_title:before
    {
        top: 0;
        left: -16px;

        width: 64px;
        height: 64px;
    }



    .courses .courses_desc
    {
        max-width: calc(100% - 16px);
        margin-left: 16px;
    }



    .courses .text_block
    {
        font-size: 16px;
    }


    .courses .text_block h2
    {
        font-size: 20px;
        line-height: 140%;

        margin-bottom: 20px;
    }


    .courses .text_block h2,
    .courses .text_block * + h3,
    .courses .text_block * + h4
    {
        margin-top: 48px;
    }


    .courses .text_block ul
    {
        padding-left: 8px;
    }


    .courses .text_block ul li
    {
        padding-left: 28px;
    }

    .courses .text_block ul li:before
    {
        top: 6px;

        width: 12px;
        height: 12px;
    }



    .courses .teaching_staff
    {
        margin-top: 72px;
        padding: 72px 0;
    }

    .courses .teaching_staff:before
    {
        right: -24px;

        width: 100vw;
        margin: 0;
    }


    .courses .teaching_staff .flex
    {
        margin-bottom: -40px;
        margin-left: -24px;
    }

    .courses .teaching_staff .flex > *
    {
        width: calc(50% - 24px);
        margin-bottom: 40px;
        margin-left: 24px;
    }


    .courses .teaching_staff .person > div
    {
        width: 320px;
    }


    .courses .teaching_staff .photo
    {
        width: 320px;
        height: 320px;
        margin-bottom: 20px;
    }


    .courses .teaching_staff .youtube_link
    {
        right: 24px;

        width: 56px;
        height: 56px;
    }


    .courses .teaching_staff .name
    {
        font-size: 22px;
    }


    .courses .teaching_staff .experience
    {
        font-size: 16px;

        margin-top: 12px;
    }


    .courses .teaching_staff .post
    {
        font-size: 15px;

        margin-top: 12px;
    }



    .courses .available
    {
        margin-top: 72px;
    }


    .courses .available .flex
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .courses .available .flex > *
    {
        width: calc(50% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .courses .available .places
    {
        font-size: 14px;

        bottom: -13px;
        left: 24px;

        padding: 5px 16px;
    }


    .courses .available .info
    {
        padding: 28px 24px 24px;
    }


    .courses .available .name
    {
        font-size: 22px;
    }


    .courses .available .desc
    {
        font-size: 15px;

        margin-top: 12px;
        padding-bottom: 4px;
    }


    .courses .available .duration,
    .courses .available .amount
    {
        font-size: 14px;

        width: calc(100% - 176px);
    }

    .courses .available .duration .icon,
    .courses .available .amount .icon
    {
        width: 60px;
        height: 60px;
    }

    .courses .available .duration .icon + *,
    .courses .available .amount .icon + *
    {
        width: calc(100% - 76px);
    }


    .courses .available .date
    {
        font-size: 14px;

        width: 152px;
    }


    .courses .available .order_btn
    {
        font-size: 16px;

        width: 152px;
        height: 52px;
    }



    .courses .schedule
    {
        margin-top: 72px;
        padding: 72px 0;
    }

    .courses .schedule:before
    {
        right: -24px;

        width: 100vw;
        margin: 0;
    }


    .courses .schedule table td
    {
        font-size: 15px;

        height: 92px;
        padding: 12px 24px;
    }


    .courses .schedule table td.action .exp
    {
        font-size: 14px;

        margin-top: 4px;
    }



    .courses .academy_address
    {
        margin-top: 72px;
    }


    .courses .academy_address .data
    {
        font-size: 17px;

        width: 380px;
        padding: 52px 40px;
    }


    .courses .academy_address .callback_btn
    {
        font-size: 16px;

        width: 240px;
        height: 52px;
        margin-top: 32px;
    }


    .courses .academy_address .map
    {
        width: calc(100% - 383px);
        min-height: 440px;
    }



    .course_info .info
    {
        padding: 26px;

        border-width: 6px;
    }


    .course_info .info .date .label
    {
        font-size: 14px;

        margin-bottom: 8px;
    }

    .course_info .info .date .val
    {
        font-size: 22px;
    }


    .course_info .info .duration,
    .course_info .info .amount
    {
        font-size: 14px;
        line-height: 130%;
    }


    .course_info .info .duration .icon,
    .course_info .info .amount .icon
    {
        width: 60px;
        height: 60px;
    }

    .course_info .info .duration .icon + *,
    .course_info .info .amount .icon + *
    {
        width: calc(100% - 80px);
    }


    .course_info .info .order_btn
    {
        font-size: 16px;

        height: 52px;
        margin-top: 28px;

        border-radius: 12px;
    }



    /*---------------
       Specifier
    ---------------*/
    .specifier .data
    {
        padding: 30px;
    }


    .specifier .item .head .title
    {
        font-size: 18px;
    }


    .specifier .category > .name
    {
        font-size: 16px;

        padding: 16px 30px;
    }



    /*-----------------------
       Specification info
    -----------------------*/
    .specification_info .item
    {
        padding: 19px;
    }


    .specification_info .item .option + .option
    {
        margin-top: 10px;
    }


    .specification_info .item .option .head
    {
        padding-left: 30px;
    }


    .specification_info .item .col_name,
    .specification_info .item .options .spoler_btn,
    .specification_info .item .option .head .name
    {
        font-size: 15px;
    }


    .specification_info .item .col_name .duration
    {
        font-size: 13px;

        padding: 4px 16px 3px;
    }



    /*-------------------------
    For integrators page
    -------------------------*/
    .for_integrators_page .page_title
    {
        font-size: 44px;

        margin-bottom: 40px;
        padding-top: 12px;
        padding-left: 28px;
    }


    .for_integrators_page .page_title:before
    {
        left: -4px;

        width: 68px;
        height: 68px;
    }



    /*--------------------------
    For integrators first
    --------------------------*/
    .for_integrators_first
    {
        margin-bottom: 60px;
    }


    .for_integrators_first .data
    {
        width: calc(100% - 428px);
    }


    .for_integrators_first .items
    {
        font-size: 18px;

        gap: 10px;
    }


    .for_integrators_first .image
    {
        width: 912px;
    }


    .for_integrators_first .image .title
    {
        font-size: 24px;
        line-height: calc(100% + 8px);

        top: 16px;
        right: 140px;
    }


    .for_integrators_first .form
    {
        width: 380px;
    }


    .for_integrators_first .form .title
    {
        font-size: 24px;

        margin-bottom: 40px;
    }


    .for_integrators_first .form .line
    {
        margin-bottom: 16px;
    }


    .for_integrators_first .form .input
    {
        height: 54px;
    }


    .for_integrators_first .form .exp
    {
        font-size: 12px;

        margin-bottom: 12px;
    }


    .for_integrators_first .form input[type=checkbox] + label
    {
        font-size: 12px;
    }


    .for_integrators_first .form .submit_btn
    {
        font-size: 14px;

        height: 40px;
        padding: 0 20px;
    }



    /*----------------------------
    For integrators provide
    ----------------------------*/
    .for_integrators_provide
    {
        padding: 60px 0;
    }



    .for_integrators_provide .block_title
    {
        font-size: 44px;

        margin-bottom: 40px;
        padding-top: 12px;
        padding-left: 28px;
    }


    .for_integrators_provide .block_title:before
    {
        left: -4px;

        width: 68px;
        height: 68px;
    }


    .for_integrators_provide .tech_support
    {
        min-height: 380px;
        padding: 40px;

        gap: 60px;
    }


    .for_integrators_provide .tech_support .info
    {
        width: 352px;
    }


    .for_integrators_provide .tech_support .title
    {
        font-size: 30px;
    }


    .for_integrators_provide .tech_support .items
    {
        font-size: 18px;
        line-height: 24px;

        width: 332px;
        margin-top: 40px;
    }


    .for_integrators_provide .tech_support .items > *
    {
        padding-left: 28px;
    }


    .for_integrators_provide .tech_support .items > *:before
    {
        top: 8px;

        width: 10px;
        height: 10px;
    }


    .for_integrators_provide .tech_support .desc
    {
        font-size: 20px;

        width: 352px;
    }


    .for_integrators_provide .tech_support .desc ul
    {
        margin-top: 16px;
    }


    .for_integrators_provide .tech_support .desc li
    {
        padding-left: 28px;
    }


    .for_integrators_provide .tech_support .desc li:before
    {
        top: 8px;

        width: 10px;
        height: 10px;
    }


    .for_integrators_provide .tech_support .decor
    {
        top: 60px;
        left: -60px;
    }


    .for_integrators_provide .tech_support .decor img
    {
        width: 92px;
        height: 92px;
    }


    .for_integrators_provide .tech_support .image
    {
        right: 40px;
        bottom: -72px;
    }


    .for_integrators_provide .tech_support .image img
    {
        width: 446px;
        height: 420px;
    }



    .for_integrators_provide .marketing_support
    {
        margin-top: 100px;
        padding: 32px 40px 40px;
    }


    .for_integrators_provide .marketing_support .info
    {
        width: 480px;
    }


    .for_integrators_provide .marketing_support .title
    {
        font-size: 30px;

        min-height: 80px;
    }


    .for_integrators_provide .marketing_support .items
    {
        font-size: 18px;

        gap: 24px;
    }


    .for_integrators_provide .marketing_support .items > *
    {
        padding-left: 28px;
    }


    .for_integrators_provide .marketing_support .items > *:before
    {
        width: 10px;
        height: 10px;
    }


    .for_integrators_provide .marketing_support .look_like
    {
        margin-top: -40px;
    }


    .for_integrators_provide .marketing_support .look_like .title
    {
        margin-bottom: 12px;
    }


    .for_integrators_provide .marketing_support .image
    {
        top: -48px;
        left: 24px;
    }

    .for_integrators_provide .marketing_support .image img
    {
        width: 658px;
        height: 520px;
    }



    .for_integrators_provide .delivery
    {
        margin-top: 100px;
        padding: 40px;
    }


    .for_integrators_provide .delivery .title
    {
        font-size: 30px;
    }



    .for_integrators_provide .delivery .shipment
    {
        width: 388px;
        min-height: 288px;
    }


    .for_integrators_provide .delivery .shipment .items
    {
        font-size: 18px;

        margin-top: 40px;

        gap: 20px;
    }


    .for_integrators_provide .delivery .shipment .items > *
    {
        padding-left: 28px;
    }


    .for_integrators_provide .delivery .shipment .items > *:before
    {
        width: 10px;
        height: 10px;
    }


    .for_integrators_provide .delivery .test
    {
        margin-top: 40px;
    }


    .for_integrators_provide .delivery .test .title
    {
        width: 480px;
    }


    .for_integrators_provide .delivery .test .img
    {
        margin-top: -40px;
    }


    .for_integrators_provide .delivery .image
    {
        top: -64px;
        left: 40px;
    }


    .for_integrators_provide .delivery .image img
    {
        width: 550px;
        height: 424px;
    }



    .for_integrators_provide .uploading
    {
        min-height: 500px;
        margin-top: 100px;
        padding: 40px;
    }


    .for_integrators_provide .uploading .title
    {
        font-size: 30px;
    }


    .for_integrators_provide .uploading .desc
    {
        font-size: 20px;

        margin-top: 20px;
    }


    .for_integrators_provide .uploading .info
    {
        width: 480px;
        margin-top: 60px;
    }


    .for_integrators_provide .uploading .checks
    {
        font-size: 18px;
        line-height: 24px;

        gap: 16px;
    }


    .for_integrators_provide .uploading .checks > *
    {
        min-width: 232px;
        min-height: 52px;
        padding: 8px 20px;

        gap: 12px;
    }


    .for_integrators_provide .uploading .checks .icon
    {
        width: 24px;
        height: 20px;
    }


    .for_integrators_provide .uploading .items
    {
        font-size: 18px;

        margin-top: 24px;
    }


    .for_integrators_provide .uploading .items > *
    {
        padding-left: 28px;
    }


    .for_integrators_provide .uploading .items > *:before
    {
        width: 10px;
        height: 10px;
    }


    .for_integrators_provide .uploading .image
    {
        bottom: 0;
        left: 40px;
    }


    .for_integrators_provide .uploading .image img
    {
        width: 585px;
        height: 348px;
    }



    /*----------------------------------------
    For integrators unloading mechanism
    ----------------------------------------*/
    .for_integrators_unloading_mechanism .block_title
    {
        font-size: 44px;

        margin-bottom: 40px;
        padding-top: 12px;
        padding-left: 28px;
    }


    .for_integrators_unloading_mechanism .block_title:before
    {
        left: -4px;

        width: 68px;
        height: 68px;
    }


    .for_integrators_unloading_mechanism .desc
    {
        font-size: 20px;

        margin-top: 40px;
        padding-right: 0;
        padding-left: 28px;
    }


    .for_integrators_unloading_mechanism .desc > *
    {
        padding-left: 28px;
    }


    .for_integrators_unloading_mechanism .desc .icon
    {
        width: 18px;
        height: 15px;
    }


    .for_integrators_unloading_mechanism .schema
    {
        width: 1240px;
        height: 1080px;
        margin-top: 40px;
        margin-left: 0;
    }


    .for_integrators_unloading_mechanism .schema .arrow:before
    {
        height: 6px;
    }


    .for_integrators_unloading_mechanism .schema .arrow div
    {
        width: 48px;
        height: 48px;
    }


    .for_integrators_unloading_mechanism .schema .arrow img
    {
        width: 16px;
        height: 26px;
    }


    .for_integrators_unloading_mechanism .section1
    {
        width: 240px;

        gap: 24px;
    }


    .for_integrators_unloading_mechanism .section1 .label
    {
        font-size: 20px;
    }


    .for_integrators_unloading_mechanism .section1 .items
    {
        font-size: 18px;
        line-height: 36px;

        box-shadow: 20px 20px 0 0 rgba(200, 211, 216, .15);
    }


    .for_integrators_unloading_mechanism .section1 .items > *
    {
        padding: 0 20px;
    }


    .for_integrators_unloading_mechanism .section1 .green,
    .for_integrators_unloading_mechanism .section1 .grey
    {
        padding: 4px 20px;
    }


    .for_integrators_unloading_mechanism .section1 .items > * > *:before
    {
        top: 16px;
    }


    .for_integrators_unloading_mechanism .section1 .arrow
    {
        bottom: 100px;

        width: 100px;
    }


    .for_integrators_unloading_mechanism .section2
    {
        top: 20px;
        left: 340px;

        width: 300px;
    }


    .for_integrators_unloading_mechanism .section2 .label
    {
        font-size: 20px;
    }


    .for_integrators_unloading_mechanism .section2 .label span
    {
        font-size: 26px;
    }


    .for_integrators_unloading_mechanism .section2 .items
    {
        padding: 12px;
    }


    .for_integrators_unloading_mechanism .section2 .names
    {
        width: calc(100% - 100px);

        gap: 12px;
    }


    .for_integrators_unloading_mechanism .section2 .names > *
    {
        font-size: 16px;
        line-height: 26px;
    }


    .for_integrators_unloading_mechanism .section2 .image
    {
        width: 88px;
    }


    .for_integrators_unloading_mechanism .section2 .arrow
    {
        bottom: 100px;

        width: 100px;
    }


    .for_integrators_unloading_mechanism .section3
    {
        top: 156px;
        right: 320px;

        width: 180px;
        padding: 60px 24px;

        gap: 60px;
    }


    .for_integrators_unloading_mechanism .section3 .count
    {
        font-size: 20px;
    }


    .for_integrators_unloading_mechanism .section3 .count
    {
        min-height: 148px;
        padding-bottom: 16px;
    }


    .for_integrators_unloading_mechanism .section3 .count .val
    {
        font-size: 68px;
    }


    .for_integrators_unloading_mechanism .section3 .arrow
    {
        top: 120px;

        width: 100px;
    }


    .for_integrators_unloading_mechanism .section4
    {
        top: 60px;

        width: 252px;
    }


    .for_integrators_unloading_mechanism .section4 .label
    {
        font-size: 20px;
    }


    .for_integrators_unloading_mechanism .section4 .label span
    {
        font-size: 26px;
        line-height: 32px;
    }


    .for_integrators_unloading_mechanism .section4 .image
    {
        width: 220px;
        margin-top: 16px;
    }


    .for_integrators_unloading_mechanism .section5
    {
        top: 432px;

        width: 420px;
        max-width: 100%;
    }


    .for_integrators_unloading_mechanism .section5 .label span
    {
        font-size: 32px;
    }


    .for_integrators_unloading_mechanism .section5 .info
    {
        padding: 24px;
    }


    .for_integrators_unloading_mechanism .section5 .sub_label
    {
        font-size: 24px;

        margin-bottom: 12px;
    }


    .for_integrators_unloading_mechanism .section5 .items
    {
        font-size: 18px;

        padding-right: 20px;

        gap: 12px;
    }


    .for_integrators_unloading_mechanism .section5 .items .icon
    {
        width: 68px;
        height: 60px;
    }


    .for_integrators_unloading_mechanism .section5 .items span
    {
        width: 300px;
        height: 50px;
        padding-left: 40px;
    }


    .for_integrators_unloading_mechanism .section5 .arrow
    {
        top: 80px;

        width: 320px;
    }


    .for_integrators_unloading_mechanism .section6
    {
        right: 0;
        bottom: 48px;

        width: 540px;
    }


    .for_integrators_unloading_mechanism .section6 .title
    {
        font-size: 26px;

        margin-bottom: 24px;
    }


    .for_integrators_unloading_mechanism .section6 .arrow
    {
        bottom: 200px;

        width: 280px;
    }


    .for_integrators_unloading_mechanism .form
    {
        padding: 24px;

        box-shadow: -48px 48px 0 0 rgba(35, 171, 223, .03);
    }


    .for_integrators_unloading_mechanism .form .line
    {
        margin-bottom: 16px;
    }


    .for_integrators_unloading_mechanism .form .input
    {
        height: 52px;
    }


    .for_integrators_unloading_mechanism .form .exp
    {
        font-size: 12px;

        margin-bottom: 12px;
    }


    .for_integrators_unloading_mechanism .form input[type=checkbox] + label
    {
        font-size: 12px;
    }


    .for_integrators_unloading_mechanism .form .submit_btn
    {
        font-size: 18px;

        height: 44px;
    }



    .for_integrators_unloading_mechanism .schema .bg
    {
        top: -72px;
        right: 40px;

        width: 440px;
        height: 412px;
    }


    .for_integrators_unloading_mechanism .schema .bg2
    {
        bottom: 48px;
        left: -48px;

        width: 720px;
        height: 591px;
    }
}
