@media (max-width: 1409px)
{
    /*---------------
        Main styles
    ---------------*/
    .text_block table td
    {
        min-width: 220px;
    }



    /*---------------
        Header
    ---------------*/
    header .info .cont.flex > * + *
    {
        margin-left: 25px;
    }


    header .search
    {
        max-width: calc(100% - 940px);
    }


    header .bottom .cont.flex
    {
        padding: 0;
    }



    header .catalog
    {
        width: 189px;
    }

    header .catalog .link
    {
        padding: 15px 20px;
    }


    #catalog_modal
    {
        width: 100vw;
    }


    header .menu
    {
        width: calc(100% - 564px);
    }



    /*---------------
        Sidebar
    ---------------*/
    aside .compare_informer
    {
        padding: 19px 19px 19px 12px;
    }



    /*---------------
        Main section
    ---------------*/
    .main_slider .slide .videos_row
    {
        width: calc(100% + 112px);
        margin-right: -46px;
        margin-left: -66px;
    }

    .main_slider .slide .videos_row > *
    {
        width: calc(33.333% - 20px);
        margin-left: 20px;
    }


    .main_slider .slide .slide_title
    {
        font-size: 32px;
    }

    .main_slider .slide .videos_row .name
    {
        font-size: 14px;

        min-height: 64px;
        padding: 8px 12px;
    }



    .products .flex
    {
        --products_count: 5;
    }

    .products_block .flex > *
    {
        width: calc(20% - 20px);
    }

    .products_block .flex > *:nth-child(6n)
    {
        display: none;
    }



    .category_info .products .flex
    {
        --products_count: 4;
    }

    .category_info .products .flex > *
    {
        width: calc(25% - 20px);
    }



    .cats_list .flex > *
    {
        width: calc(25% - 20px);
    }



    .product_info .product_name
    {
        font-size: 28px;
        line-height: 38px;

        padding: 20px;
    }

    .product_info .info .rating
    {
        margin-left: 35px;
    }


    .product_info .info .buy_info .col_left
    {
        width: calc(100% - 204px);
    }

    .product_info .info .buy_info .col_right
    {
        width: 172px;
    }


    .product_info .info .price_block .price
    {
        font-size: 46px;
        line-height: 46px;
    }

    .product_info .info .price_block .price sup
    {
        font-size: 16px;
        line-height: 14px;

        margin-left: -6px;
    }


    .product_info .info .reduce_price_btn
    {
        height: 46px;
    }


    .product_info .info .buy_info .buy_links > * + *,
    .product_info .info .buy_info .amount.show
    {
        margin-left: 16px;
    }

    .product_info .info .buy_info .amount
    {
        margin-left: 0;
    }


    .product_info .info .manager
    {
        width: 328px;
    }



    .product_tabs .tabs button
    {
        padding: 10px 16px;
    }

    .product_tabs .tab_content.active
    {
        padding: 20px;
    }



    .prod_files
    {
        margin-bottom: -30px;
        margin-left: -30px;
    }

    .prod_files .item
    {
        width: calc(50% - 30px);
        margin-bottom: 30px;
        margin-left: 30px;
    }


    .prod_specification .product
    {
        padding: 25px 0;
    }


    .prod_equipment .item
    {
        padding: 25px 0;
    }



    .prod_delivery .route
    {
        padding: 24px 34px;
    }

    .prod_delivery .info
    {
        padding: 25px;
    }



    .reviews .head
    {
        padding-bottom: 30px;
    }

    .reviews .review
    {
        padding: 25px 0;
    }



    .checkout_info
    {
        --aside_width: 320px;
    }



    .articles_page .title
    {
        font-size: 28px;
        line-height: 38px;

        padding: 20px;
    }


    .articles .types a
    {
        height: 55px;
    }



    .article_info .article_title
    {
        font-size: 28px;
        line-height: 38px;
    }



    /*---------------
        Footer
    ---------------*/



    /*---------------
        PopUp
    ---------------*/
}
